{%extends 'english/base.html'%}

{%block title%}password reset{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>Password Reset</h1>
            {%if user.is_authenticated%}
            {%include 'account/snippets/already_logged_in.html'%}
            {%endif%}

            <p>パスワードリセットメールの送信</p>
            <form method="POST" action="{%url 'account_reset_password'%}">
                {%csrf_token%}

                {{form.as_p}}
                <button class="btn btn-primary" type="submit">submit</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}