{%extends 'english/base.html'%}

{%block title%}search{%endblock%}

{%block content%}

<div class="my-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="{{book_data.image}}" alt="" class="img-fluid">
        </div>

        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-body px-2 py-1">
                    <div class="p-4">
                        <h3>{{book_data.title}}</h3>
                        <p class="mb-3">{{book_data.author}}</p>
                        <p class="mt-3">価格: <span class="texx-danger font-weight-bold h3">{{book_data.itemPrice}}</span></p>
                        <a href="{{book_data.itemUrl}}" class="btn btn-primary"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%if book_data.itemCaption%}
    <h5>商品説明</h5>
    <hr>
    <p>{{book_data.itemCaption}}</p>
    <p>ISBN: {{book_data.isbn}}</p>
    {%endif%}
</div>

{%endblock%}